.hero {
  padding: 200px 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/backgroundimage.jpg);
  background-color: #c4c4c4;
  background-size: cover;

  &__position {
    display: flex;
    justify-content: center;
  }

  &__title {
    color: var(--contrasting-color);
    @include font(44px, 900, 60px);
    text-transform: uppercase;
    letter-spacing: 0.06em;
    width: 696px;
  }

  &-container {
    text-align: center;
  }
}

.hero-button {
  display: inline-block;
  padding: 10px 32px;
  @include font(16px, 700, 30px);
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-top: 30px;
  transition: background-color var(--transition-duration-timing-function);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
