.card-set {
  &__item {
    transition: box-shadow var(--transition-duration-timing-function);

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  &__info {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
  }

  &__name {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
    margin-bottom: 4px;
    text-align: left;
  }

  &__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    text-align: left;
  }

  .card-set__item:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  .card-set__img {
    height: 294px;
  }
}

.box-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  text-align: left;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--contrasting-color);
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform var(--transition-duration-timing-function);
}

.card-set__link:hover .overlay,
.card-set__link:focus .overlay {
  transform: translate(0, 0);
}

@media screen and (min-width: 480px) {
  .card-set__img {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .card-set {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;

    &__item {
      flex-basis: calc((100% - 30px) / 2);
    }

    .card-set__link-technokryak {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .card-set__info-technokryak {
      flex-grow: 1;
    }
  }

  // .card-set__item:nth-child(1) {
  //   height: 440px;
  // }

  // .card-set:not(:last-child) {
  //   margin-bottom: 30px;
  // }

  .card-set__img {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .card-set__item {
    flex-basis: calc((100% - 60px) / 3);
  }

  .card-set__img {
    width: 370px;
  }
}
