.section-team {
  background-color: var(--background-secondary-color);
}

.employee-list__info {
  padding: 30px 0;
}

.employee-list__name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 10px;
}

.employee-list__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  margin-bottom: 16px;
  text-align: center;
}

.employee-list__card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  width: 450px;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--contrasting-color);
}

@media screen and (max-width: 767px) {
  .title {
    margin-bottom: 30px;
  }

  .employee-list__card:not(:last-child) {
    margin-bottom: 30px;
  }

  .employee-list__img {
    width: 100%;
    max-width: 450px;
    height: 460px;
  }

  // .section {
  //   padding-top: 60px;
  // }
}

@media screen and (min-width: 768px) {
  .employee-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;

    &__card {
      flex-basis: calc((100% - 30px) / 2);
    }
  }

  .employee-list__img {
    width: 354px;
    height: 374px;
  }

  .employee-list__card:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .employee-list {
    max-width: 1170px;
  }

  .employee-list__card {
    flex-basis: calc((100% - 90px) / 4);
  }

  .employee-list__img {
    width: 270px;
    height: 260px;
  }

  .employee-list__info {
    width: 270px;
  }

  .employee-list__card {
    width: 270px;
  }
}
