.button {
  color: var(--contrasting-color);
  background-color: var(--accent-color);
  border: none;
  font-family: inherit;
  cursor: pointer;
  @include font(16px, 700, 30px);
  letter-spacing: 0.03em;
  border-radius: 4px;
}
