.button {
  color: var(--contrasting-color);
  background-color: var(--accent-color);
  border: none;
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
}
