:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-dark: #2f303a;
  --contrasting-color: #ffffff;
  --svg-color: #afb1b8;
  --background-secondary-color: #f5f4fa;
  --transition-duration-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
